:host {
  display: block;
  font-family: Arial, sans-serif;
}

.hero {
    position: relative;
}

.dark-btn {
    position: absolute;
    top: 12px;
    left: 12px;

    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    line-height: 1;
}

